body {
	margin: 0;
	padding: 0;
	font-family: Comic Sans MS;
	background-color: #CFCFCF;
	color: #000000;
}

nav {
	width: 100%;
	top: 0px;

	background-color: #ff0000;
}

nav>ul {
	text-align: center;

}

ul>li {
	display: inline-block;
	padding: 5px 15px;
}

a {
	color: #000000;
	text-decoration: none;
	font-size: 20px;
}

header {
	background-color: #ff0000;
	width: 100%;

}

header ul {
	list-style-type: none;
	background-color: #ff0000;
	margin: 0;
	padding: 0;
}

header li a {
	padding: 20px;
	display: block;

}

header li a:hover {
	background-color: #FFA;
}

header .logo {
	display: block;
	float: left;

	font-size: 25px;
}

.obraz {
	float: left;
	margin-left: 20%;
	padding-bottom: 50px;
}

.srodek_text {
	text-align: center;
}

.optoczka {
	border: 5px solid #ff3c00;
	margin-left: 13%;
	margin-right: 13%;
}

table {
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 2px;
	border-spacing: 0px;
	display: inline-block;
}

th {
	border-collapse: collapse;

	border: 1px solid;

	padding: 5px;

	border-spacing: 0px;
}

td {
	border-collapse: collapse;

	border: 3px solid;

	padding: 5px;

	border-spacing: 0px;
}


.w_lini {
	display: inline-block;
	justify-content: center;
}

.flex {
	display: flex;
}

.pod_headerem {
	margin-top: 1%;
}

.now {
	background-color: #FF6030;
	color: #FF0;
}

article.home {

	display: inline-block;
	width: 30%;
	text-align: center;
	background-color: #FFF;
}

.aktualnosci {
	float: left;
	height: 50%;
	width: 50%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 10%;
	margin-left: 10%;
}

.opis {
	float: right;
	height: 700px;
	width: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
}

article.pokemons {

	border: 2px solid #000;
	height: 350px;
	margin: auto;
	margin-bottom: 10%;
	background-color: #FFF;
	overflow: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	width: 70%;
}

article.abilities {

	border: 2px solid #000;
	height: 300px;
	margin: auto;
	margin-bottom: 10%;
	background-color: #FFF;
	overflow: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	width: 70%;
}

article.moves {

	border: 2px solid #000;
	height: 250px;
	margin: auto;
	margin-bottom: 10%;
	background-color: #FFF;
	overflow: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	width: 70%;
}

article.items {

	border: 2px solid #000;
	height: 250px;
	margin: auto;
	margin-bottom: 10%;
	background-color: #FFF;
	overflow: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	width: 70%;
}

article.itemwyglad {

	margin-right: 30%;
	margin-left: 10%;

} 

article.itemopis {

	margin-top: 10%;
	overflow: auto;
	font-size: 20px;
}

article div {
	display: inline-block;
	margin: 2px;
}

footer {
	background-color: #000;
	color: #FF0;
	text-align: center;
	clear: both;
}

footer p {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

input{
	width: 200px;
	height: 50px;
}

.info{
	text-align: center;
}

.Attack{
	background-color: #fca96e;
}

.Defence{
	background-color: rgb(255, 255, 123);
}

.Speed{
	background-color: rgb(255, 126, 227);
}

.SpAttack{
	background-color: rgb(41, 103, 219);
}

.SpDefence{
	background-color: rgb(27, 255, 95);
}

.types{
	font-size: 15px;
}

.ptypes{
	margin: 0;
}
/* Typy */
.FireType
{
	background-color: #FF7A00;
}
.WaterType{
	background-color: #3300FF;
}
.GrassType{
	background-color: #42FF00;
}
.NormalType
{
	background-color: #8A8A8A;
}
.PoisonType
{
	background-color: #A102BB;
}
.BugType
{
	background-color: #0B8B00;
}
.ElectricType
{
	background-color: #C1E000;
}
.RockType
{
	background-color: #5A5036;
}
.GroundType
{
	background-color: #9A7F3A;
}
.FlyingType
{
	background-color: #8AFCE7;
}
.FightingType
{
	background-color: #FA7930;
}
.DarkType
{
	background-color: #090070;
}
.PsychicType
{
	background-color: #EF0869;
}
.GhostType
{
	background-color: #61009C;
}
.SteelType
{
	background-color: #CFCFCF;
}
.IceType
{
	background-color: #4EF4FF;
}
.FairyType
{
	background-color: #FC63FF;
}
.DragonType
{
	background-color: #4500D7;
}
.x0{
	background-color: #000;
	color: #FFF;
}
.x05{
	background-color: #F00;
}
.x1{
	background-color: #FFF;
}
.x2{
	background-color: #0F0;
}


/* Staty */

.staty {
	margin-left: 10px;
}

/* HP */

.HP39 {
	background-color: #ff0000;
	border: 1px solid #a60000;
	width: 39px;
	height: 20px;
}

/* Attack */

.Atk52 {
	background-color: #f08030;
	border: 1px solid #9c531f;
	width: 52px;
	height: 20px;
}

/* Defence */

.Def43 {
	background-color: #f8d030;
	border: 1px solid #a1871f;
	width: 43px;
	height: 20px;
}

/* Sp.Attack */

.SpAtk60 {
	background-color: #6890f0;
	border: 1px solid #445e9c;
	width: 60px;
	height: 20px;
}

/* Sp.Defence */

.SpDef50 {
	background-color: #78c850;
	border: 1px solid #4e8234;
	width: 50px;
	height: 20px;
}

/* Speed */

.Spd65 {
	background-color: #f85888;
	border: 1px solid #a13959;
	width: 65px;
	height: 20px;
}


