body {
	margin: 0;
	padding: 0;
	font-family: Comic Sans MS;
	background-color: #CFCFCF;
	color: #000000;
}

nav {
	width: 100%;
	top: 0px;

	background-color: #ff0000;
}

nav>ul {
	text-align: center;

}

ul>li {
	display: inline-block;
	padding: 5px 15px;
}

a {
	color: #000000;
	text-decoration: none;
	font-size: 20px;
}

header {
	background-color: #ff0000;
	width: 100%;

}

header ul {
	list-style-type: none;
	background-color: #ff0000;
	margin: 0;
	padding: 0;
}

header li a {
	padding: 20px;
	display: block;

}

header li a:hover {
	background-color: #ff631b;
}

header .logo {
	display: block;
	float: left;

	font-size: 25px;
}

.obraz {
	float: left;
	margin-left: 20%;
	padding-bottom: 50px;
}

.srodek_text {
	text-align: center;
}

.optoczka {
	border: 5px solid #ff3c00;
	margin-left: 13%;
	margin-right: 13%;
}

.nie_ma_mnie {
	display: none;
}

table {
	padding: 20px;
	border-spacing: 0px;
}

th {
	border-collapse: collapse;

	border: 1px solid;

	padding: 20px;

	border-spacing: 0px;
}

td {
	border-collapse: collapse;

	border: 3px solid;

	padding: 20px;

	border-spacing: 0px;
}


.w_lini {
	display: inline-block;
	justify-content: center;
}

.flex {
	display: flex;
}

.pod_headerem {
	margin-top: 100px;
}

.now {
	background-color: #FF6030;
	color: #FF0;
}

article.home {

	display: inline-block;
	width: 30%;
	text-align: center;
	background-color: #FFF;
}

.aktualnosci {
	float: left;
	height: 50%;
	width: 50%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 10%;
	margin-left: 10%;
}

.opis {
	float: right;
	height: 700px;
	width: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
}

article.pokemons {

	border: 2px solid #000;
	height: 200px;
	margin: auto;
	margin-bottom: 10%;
	background-color: #FFF;
	overflow: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	width: 70%;
}

article div {
	display: inline-block;
	margin: 2px;
}

footer {
	background-color: #000;
	color: #FF0;
	text-align: center;
	clear: both;
}

footer p {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

input{
	width: 200px;
	height: 50px;
}

.info{
	text-align: center;
}
/* Staty */

.staty {
	margin-left: 10px;
}

/* HP */

.HP39 {
	background-color: #ff0000;
	border: 1px solid #a60000;
	width: 39px;
	height: 20px;
}

/* Attack */

.Atk52 {
	background-color: #f08030;
	border: 1px solid #9c531f;
	width: 52px;
	height: 20px;
}

/* Defence */

.Def43 {
	background-color: #f8d030;
	border: 1px solid #a1871f;
	width: 43px;
	height: 20px;
}

/* Sp.Attack */

.SpAtk60 {
	background-color: #6890f0;
	border: 1px solid #445e9c;
	width: 60px;
	height: 20px;
}

/* Sp.Defence */

.SpDef50 {
	background-color: #78c850;
	border: 1px solid #4e8234;
	width: 50px;
	height: 20px;
}

/* Speed */

.Spd65 {
	background-color: #f85888;
	border: 1px solid #a13959;
	width: 65px;
	height: 20px;
}


